main {
  max-width: 30em;
  margin: 0 auto;
}
.jurisdiction {
  display: inline-block;
  max-width: 10em;
  margin-top: 1em;
  margin-right: 1em;
}
.jurisdiction h4 {
  margin: 0;
}

.program.online circle{
  fill: #0D77AC;
}
.program.online text{
  fill: white;
}
.program.offline circle {
  fill: #d8d8d8;
}
.program.offline text {
  fill: black;
}
.application.multi-integration {
  fill: #C1D6E4;
}
.application.double-integration {
  fill: none;
  stroke: #C1D6E4;
  stroke-width: 22;
}
.swiper {
  width: 100%;
  border: 1px solid black;
}
.swiper-slide {
  aspect-ratio: 1024 / 768;
  overflow-y: auto;
}
.swiper-slide img {
  width: 100%;
}